/*Tours Page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f7fafc;
    color: #222;
    line-height: 1.6;
}

#preloader {
    background: #000 url(../images/loader.gif) no-repeat center center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header {
    position: relative;
}

#navbar {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo_and_company_name_sector {
    display: flex;
    align-items: center;
}

#logo_image {
    width: 37px;
    margin-right: 15px;
}

#company_name {
    margin-right: 100px;
}

#navbar #company_name h1 {
    font-size: 24px;
    font-weight: bold;
}

#navbarcontent {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

#navbar #links {
    display: flex;
    gap: 32px;
    margin-right: 400px;
}

#navbar a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#navbar #links>li>a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#navbar #links>li>a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: black;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

#navbar #links>li>a:hover::after {
    width: 100%;
}

#navbar #links.active {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.dropdown_btn::after {
    content: none !important;
}

#navbar #links a:hover {
    cursor: pointer;
}

#dropdownmenu {
    position: absolute;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 160px;
    z-index: 1000;
}

#dropdownmenu li {
    display: block;
}

.dropdown_btn {
    width: 100%;
    padding: 10px 16px;
    border: none;
    background: white;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    color: black;
}

.dropdown_btn:hover {
    background-color: #f0f0f0;
    font-weight: 500;
    border-radius: 6px;
}

#dropdownmenu a {
    display: block;
    padding: 10px 16px;
    color: black;
    text-decoration: none;
    font-size: 14px;
}

#navbar #dropdownmenu a:hover {
    background-color: rgb(211, 206, 206);
    color: black;
    font-weight: 500;
    border-radius: 6px;
}

#user_icon {
    width: 32px;
    height: 32px;
    background-color: gray;
    color: black;
    padding: 9px;
    border-radius: 100%;
    cursor: pointer;
}

#navbar #toggle_btn {
    color: rgb(86, 85, 85);
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#links .fa-sharp {
    margin-left: 7px;
}

header.tours_and_package {
    height: 300px;
    background-image: url("../images/tours-header-bg.jpg");
    background-size: cover;
    background-position: 0px -110px;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header.tours_and_package::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

header.tours_and_package h1 {
    position: relative;
    z-index: 2;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
  animation: fadeInDown 1s ease forwards;
}

header.tours_and_package p {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    max-width: 800px;
    line-height: 1.5;
    text-align: center;
  animation: fadeInUp 1.2s ease forwards;
}

.tour-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-items: center;
    padding: 20px 20px;
}

.tour_card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.4s ease;
    max-width: 310px;
    height: 400px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform: scale(1);
}

.tour_card:hover {
    transform: scale(1.01);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.tour_card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

/* Text Content */
.tour_card h3 {
    font-size: 19px;
    margin: 15px 0 3px;
    color: black;
    text-transform: capitalize;
    text-align: center;
}

.tour_card p {
    font-size: 14.5px;
    margin: 3px 18px;
    color: #555;
    text-align: center;
}

/* Button */
.tour_card a.btn {
    margin: auto auto 18px;
    background: rgb(128, 124, 124);
    color: #fff;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 14.5px;
    font-weight: 500;
    transition: all 0.25s ease;
}

.tour_card a.btn:hover {
    background: rgb(48, 48, 48);
    box-shadow: 0 4px 10px rgba(62, 64, 64, 0.3);
    transform: translateY(-2px);
}

.bottom_line {
    width: 80%;
    height: 1px;
    background-color: #cccccc;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 10%;
    display: flex;
}

#copy_right_part {
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #444;
    margin-top: 20px;
}

/*Animations*/
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Media query*/
/*Large Desktops (1200px)*/
@media (min-width: 1200px) {
    #navbar #logo_and_company_name_sector img {
        margin-left: 20px;
    }

    #navbar #links {
        gap: 40px;
    }

    #links .fa-sharp {
        margin-left: 7px;
    }

    #navbar #links li a {
        font-size: 14px;
    }

    #user_icon {
        margin-left: -140px;
    }

    .tour-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

/*Laptops (992px to 1199px)*/
@media (max-width: 1199px) {
    #navbar #logo_and_company_name_sector h1 {
        font-size: 21px;
    }

    #navbar #links {
        margin-right: 200px;
        gap: 25px;
    }

    #navbar #links li a {
        font-size: 13px;
    }

    #navbar img {
        margin-left: 10px;
    }
}

/*Tablets (768px to 991px)*/
@media (max-width: 991px) {
    #logo_image {
        width: 30px;
        margin-top: 2px;
    }

    #navbar #logo_and_company_name_sector h1 {
        font-size: 19.5px;
        margin-top: 3px;
    }

    #user_icon {
        display: none;
    }

    #navbar #links {
        margin-right: 50px;
        gap: 25px;
    }

    header.tours_and_package {
        height: 280px;
        background-position: center top;
        background-size: cover;
    }

    header.tours_and_package h1 {
        font-size: 42px;
    }

    header.tours_and_package p {
        font-size: 16px;
        max-width: 85%;
        margin: 10px auto 0;
    }

    .tour-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*Mobile (576px to 767px)*/
@media (max-width: 767px) {
    #logo_image {
        width: 30px;
        margin-top: 8px;
    }

    #navbar #logo_and_company_name_sector h1 {
        font-size: 18px;
        margin-top: 8px;
    }

    #navbar {
        height: 60px;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    #navbar #links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: white;
        text-align: left;
        padding: 10px 0;
    }

    #links .fa-sharp {
        margin-left: 7px;
    }

    #navbar #links a {
        margin-left: 20px;
    }

    #dropdownmenu a {
        margin-left: 0px !important;
    }

    #navbar #links.active {
        display: flex;
    }

    #logo_and_company_name_sector {
        margin-bottom: 10px;
    }

    #navbar #toggle_btn {
        position: absolute;
        right: 20px;
        top: 13px;
        display: block;
    }

    #navbar #toggle_btn:hover {
        color: black;
    }

    #user_icon {
        display: none;
    }

    header.tours_and_package {
        height: 200px;
        background-position: center top;
        background-size: cover;
    }

    header.tours_and_package h1 {
        font-size: 35px;
    }

    header.tours_and_package p {
        font-size: 13px;
        max-width: 90%;
    }

    .tour-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .tour_card {
        max-width: 90%;
        height: auto;
    }
}

/*Small Mobile (Up to 575px)*/
@media (max-width: 575px) {
    #logo_image {
        width: 27px;
        margin-top: 7px;
    }

    #navbar #logo_and_company_name_sector h1 {
        font-size: 14.5px;
        margin-top: 10px;
    }

    #navbar {
        padding: 8px 15px;
    }

    #navbar #links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: white;
        text-align: left;
        padding: 10px 0;
    }

    #navbar #links.active {
        display: flex;
    }

    #toggle_btn {
        display: block;
    }

    #user_icon {
        display: none;
    }

    header.tours_and_package h1 {
        font-size: 30px;
    }

    header.tours_and_package p {
        font-size: 11px;
        max-width: 90%;
    }

    .tour-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*Extra mall Mobile (Up to 350px)*/
@media (max-width: 350px) {
    #logo_image {
        width: 25px;
        margin-top: 7px;
    }

    #navbar #logo_and_company_name_sector h1 {
        font-size: 13px;
        margin-top: 10px;
    }

    header.tours_and_package h1 {
        font-size: 25px;
    }

    header.tours_and_package p {
        font-size: 8px;
        max-width: 90%;
    }

    .tour-list {
        grid-template-columns: repeat(1, 1fr);
    }

    #copy_right_part {
        font-size: 8px;
    }
}